body {
    background-color: #E6EBE0;
}

::selection {
    background-color: #ED6A5A;
    color: white;
}

.menu {
    background-color: #5CA4A9;
    color: white;
}

.menu-item>a {
    color: white;
}

.education-period {
    color: #ED6A5A;
}

