<article class="container" id="experience">
    <section class="project" ng-repeat="project in l10nCtrl.l10n.experience.projects">
        <header class="project-header">
            <h1 class="project-name line">
                <div class="tag no-select hidden-xs">{{l10nCtrl.l10n.experience.projectName}}</div>
                <div>{{project.name}}</div>
            </h1>
        </header>
        <div class="role-and-period">
            <div class="float-line hidden-xs line">
                <div class="project-work-position">
                    <span class="tag">{{l10nCtrl.l10n.experience.role}}: </span>
                    <span>{{project.role}}</span>
                </div>
                <div class="project-period">
                    <span class="tag">{{l10nCtrl.l10n.experience.timePeriod}}: </span>
                    <span>{{project.period}}</span>
                </div>
            </div>
            <div class="visible-xs">
                <div class="project-work-position line">
                    <span class="tag">{{l10nCtrl.l10n.experience.role}}: </span>
                    <span>{{project.role}}</span>
                </div>
                <div class="project-period line">
                    <span class="tag">{{l10nCtrl.l10n.experience.timePeriod}}: </span>
                    <span>{{project.period}}</span>
                </div>
            </div>
        </div>
        <!--<div class="project-link line" ng-show="{{project.link}}">-->
            <!--<div class="float-line">-->
                <!--<div class="pull-right">-->
                    <!--<a ng-href="{{project.link}}" target="_blank">{{l10nCtrl.l10n.experience.link}}</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="project-tools">
            <ul class="inline-list">
                <span class="tag">{{l10nCtrl.l10n.experience.tools}}:</span>
                <li class="project-tool" ng-repeat="tool in project.tools">
                    {{tool}}
                </li>
            </ul>
        </div>
        <div class="project-description line" ng-show="isFull($index)">
            <span class="tag">{{l10nCtrl.l10n.experience.description}}:</span>
            <span>{{project.description}}</span>
        </div>
        <div class="project-functionality line" ng-show="isFull($index)">
            <div class="tag">
                <span>{{l10nCtrl.l10n.experience.functionality}}:</span>
            </div>
            <ul class="list">
                <li class="project-function" ng-repeat="function in project.functionality">
                    {{function}}
                </li>
            </ul>
        </div>
        <div class="project-work-responsibilities line">
            <div class="tag">
                <span>{{l10nCtrl.l10n.experience.responsibilities}}:</span>
            </div>
            <ul class="list">
                <li class="responsibility" ng-repeat="responsibility in project.responsibilities">
                    {{responsibility}}
                </li>
            </ul>
        </div>
        <div class="float-line project-footer">
            <div class="pull-left">
                <a ng-href="{{project.link}}" target="_blank" class="creative-link"
                   data-hover="{{l10nCtrl.l10n.experience.link}}">
                    <span>{{l10nCtrl.l10n.experience.link}}</span>
                </a>
            </div>
            <div class="pull-right">
                <i class="button-icon" ng-click="triggerFull($index)"
                    ng-class="{'less-icon': isFull($index),
                               'more-icon': !isFull($index)}"></i>
            </div>
        </div>
    </section>
</article>