<section class="container" id="professional-skills">
    <ul>
        <li>
            <img src="static/icons/programming.png" height="52">
            <span class="skill-category-name">{{l10nCtrl.l10n.professionalSkills.programming}}</span>
            <ul class="skill-category">
                <li>{{l10nCtrl.l10n.professionalSkills.html}}</li>
                <li>{{l10nCtrl.l10n.professionalSkills.css}}</li>
                <li>{{l10nCtrl.l10n.professionalSkills.js}}</li>
                <li>{{l10nCtrl.l10n.professionalSkills.java}}</li>
                <li>{{l10nCtrl.l10n.professionalSkills.spring}}</li>
                <li>{{l10nCtrl.l10n.professionalSkills.sql}}</li>
            </ul>
        </li>
        <li>
            <img src="static/icons/networks.png" height="52">
            <span class="skill-category-name">{{l10nCtrl.l10n.professionalSkills.networking}}:</span>
            <ul class="skill-category">
                <li>{{l10nCtrl.l10n.professionalSkills.dataFormats}}</li>
                <li>{{l10nCtrl.l10n.professionalSkills.protocols}}</li>
            </ul>
        </li>
        <li>
            <img src="static/icons/testing.png" height="52">
            <span class="skill-category-name">{{l10nCtrl.l10n.professionalSkills.testing}}:</span>
            <ul class="skill-category">
                <li>{{l10nCtrl.l10n.professionalSkills.junit}}</li>
                <li>{{l10nCtrl.l10n.professionalSkills.soapui}}</li>
            </ul>
        </li>
        <li>
            <img src="static/icons/tools.png" height="52">
            <span class="skill-category-name">{{l10nCtrl.l10n.professionalSkills.tools}}:</span>
            <ul class="skill-category">
                <li>{{l10nCtrl.l10n.professionalSkills.maven}}</li>
                <li>{{l10nCtrl.l10n.professionalSkills.vsc}}</li>
                <li>{{l10nCtrl.l10n.professionalSkills.servers}}</li>
                <li>{{l10nCtrl.l10n.professionalSkills.db}}</li>
                <li>{{l10nCtrl.l10n.professionalSkills.idea}}</li>
                <li>{{l10nCtrl.l10n.professionalSkills.microsoft}}</li>
            </ul>
        </li>
        <li>
            <img src="static/icons/os.png" height="52">
            <span class="skill-category-name">{{l10nCtrl.l10n.professionalSkills.systems}}:</span>
            <ul class="skill-category">
                <li>{{l10nCtrl.l10n.professionalSkills.windows}}</li>
                <li>{{l10nCtrl.l10n.professionalSkills.linux}}</li>
            </ul>
        </li>
        <li>
            <img src="static/icons/languages.png" height="52">
            <span class="skill-category-name">{{l10nCtrl.l10n.professionalSkills.languages}}:</span>
            <ul class="skill-category">
                <li>{{l10nCtrl.l10n.professionalSkills.ua}}</li>
                <li>{{l10nCtrl.l10n.professionalSkills.ru}}</li>
                <li>{{l10nCtrl.l10n.professionalSkills.en}}</li>
            </ul>
        </li>
        <li>
            <img src="static/icons/education.png" height="52">
            <span class="skill-category-name">{{l10nCtrl.l10n.professionalSkills.education}}:</span>
            <ul class="skill-category">
                <li>
                    <div class="row">
                        <div class="col-lg-5">
                            {{l10nCtrl.l10n.professionalSkills.bachelorDegree}}
                        </div>
                        <div class="col-lg-4 education-university">
                            {{l10nCtrl.l10n.professionalSkills.bachelorUniversity}}
                        </div>
                        <div class="col-lg-3 education-period">
                            {{l10nCtrl.l10n.professionalSkills.bachelorPeriod}}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-lg-5">
                            {{l10nCtrl.l10n.professionalSkills.masterDegree}}
                        </div>
                        <div class="col-lg-4 education-university">
                            {{l10nCtrl.l10n.professionalSkills.masterUniversity}}
                        </div>
                        <div class="col-lg-3 education-period">
                            {{l10nCtrl.l10n.professionalSkills.masterPeriod}}
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</section>